<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script>
        // 전체 선택 또는 선택 해제
        function toggleCheckboxes(source) {
            checkboxes = document.getElementsByName('assetIds');
            for(var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
</head>
<body>
<div class="container" style="max-width: 800px; margin-top: 50px;">
    <div class="py-5 text-center">
        <h2 th:text="#{asset.list.title}">자산 목록</h2>
    </div>

    <!-- 검색 폼 추가 -->
    <div class="row mb-3">
        <div class="col">
            <!-- 별도의 검색 폼 -->
            <form th:action="@{/assets/list/asset}" method="get">
                <div class="input-group mb-3">
                    <select class="form-select" id="category" name="category">
                        <option value="" th:text="#{Categories}">All Categories</option>
                        <option value="assetName" th:text="#{asset.list.asset.name}">Asset Name</option>
                        <option value="assetCode" th:text="#{asset.list.asset.code}">>Asset Code</option>
                        <option value="assetType" th:text="#{asset.list.asset.type}">>Asset Type</option>
                        <option value="assetStatus" th:text="#{asset.list.asset.status}">>Asset Status</option>
                        <option value="sn" th:text="#{asset.list.serial.number}">>Serial Number</option>
                        <option value="location" th:text="#{asset.list.location}">>Location</option>
                        <option value="dept" th:text="#{asset.list.department}">>Department</option>
                        <option value="currentUser" th:text="#{asset.list.current.user}">>Current User</option>
                        <option value="previousUser" th:text="#{asset.list.previous.user}">>PreviousUser User</option>
                        <option value="manufacturer" th:text="#{asset.list.manufacturer}">>Manufacturer</option>
                    </select>
                    <input type="text" class="form-control" th:placeholder="#{asset.search.placeholder}" name="keyword"/>
                    <button type="submit" class="btn btn-primary" th:text="#{asset.search}">Search</button>
                </div>
            </form>
        </div>
    </div>


    <hr class="my-4">
    <div>
        <form th:action="@{/assets/deleteSelectedAsset}" method="post">
            <div class="mb-3">
                <button type="submit" class="btn btn-danger" th:text="#{asset.delete}">Delete Selected</button>
            </div>
        <table class="table">
            <thead>
            <tr>
                <th><input type="checkbox" onclick="toggleCheckboxes(this)"/></th>
                <th style="vertical-align: middle;" th:text="#{asset.list.id}">ID</th>
                <th>
                    <span th:text="#{asset.list.asset.code}">자산번호</span>
                    <a th:href="@{/assets/list/asset(sort='assetCode', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='assetCode', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                </th>
                <th>
                    <span th:text="#{asset.list.asset.name}">자산명</span>
                    <a th:href="@{/assets/list/asset(sort='assetName', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='assetName', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                <th>
                    <span th:text="#{asset.list.asset.type}">자산유형</span>
                    <a th:href="@{/assets/list/asset(sort='assetType', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='assetType', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                </th>
                <th>
                    <span th:text="#{asset.list.asset.status}">자산상태</span>
                    <a th:href="@{/assets/list/asset(sort='assetStatus', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='assetStatus', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                </th>
                <th>
                    <span th:text="#{asset.list.serial.number}">시리얼번호</span>
                    <a th:href="@{/assets/list/asset(sort='sn', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='sn', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                </th>
                <th>
                    <span th:text="#{asset.list.location}">위치</span>
                    <a th:href="@{/assets/list/asset(sort='location', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='location', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                </th>
                <th>
                    <span th:text="#{asset.list.department}">부서</span>
                    <a th:href="@{/assets/list/asset(sort='dept', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='dept', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                </th>
                <th>
                    <span th:text="#{asset.list.assigned.date}">지급일</span>
                    <a th:href="@{/assets/list/asset(sort='assignedDate', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='assignedDate', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                </th>
                <th>
                    <span th:text="#{asset.list.return.date}">반납일</span>
                    <a th:href="@{/assets/list/asset(sort='returnDate', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='returnDate', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                </th>
                <th>
                    <span th:text="#{asset.list.current.user}">현사용자</span>
                    <a th:href="@{/assets/list/asset(sort='currentUser', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='currentUser', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                </th>
                <th>
                    <span th:text="#{asset.list.previous.user}">전사용자</span>
                    <a th:href="@{/assets/list/asset(sort='previousUser', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='previousUser', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                </th>
                <th>
                    <span th:text="#{asset.list.manufacturer}">제조사</span>
                    <a th:href="@{/assets/list/asset(sort='manufacturer', order='asc', category=${category}, keyword=${keyword}, page=${page})}">▲</a>
                    <a th:href="@{/assets/list/asset(sort='manufacturer', order='desc', category=${category}, keyword=${keyword}, page=${page})}">▼</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="asset : ${assets}">
                <td><input type="checkbox" th:value="${asset.assetIdx}" name="assetIds"/></td>
                <td><a th:href="@{'/assets/' + ${asset.assetIdx} + '/edit/asset'}" th:text="${asset.assetIdx}">ID</a></td>
                <td th:text="${asset.assetCode}">자산번호</td>
                <td th:text="${asset.assetName}">자산명</td>
                <td th:text="${asset.assetType}">자산유형</td>
                <td th:text="${asset.assetStatus}">자산상태</td>
                <td th:text="${asset.sn}">시리얼번호</td>
                <td th:text="${asset.location}">위치</td>
                <td th:text="${asset.dept}">부서</td>
                <td th:text="${asset.assignedDate}">지급일</td>
                <td th:text="${asset.returnDate}">반납일</td>
                <td th:text="${asset.currentUser}">현사용자</td>
                <td th:text="${asset.previousUser}">전사용자</td>
                <td th:text="${asset.manufacturer}">제조사</td>
            </tr>
            </tbody>
        </table>
        </form>


        <div>
            <ul class="pagination">
                <li class="page-item" th:classappend="${pagination.currentPage == 1} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/assets/list/asset(page=${pagination.currentPage - 1}, category=${category}, keyword=${keyword}, sort=${sort}, order=${order})}" th:text="#{asset.previous.button}">Previous</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, pagination.totalPages)}" th:classappend="${i == pagination.currentPage} ? 'active' : ''">
                    <a class="page-link" th:text="${i}" th:href="@{/assets/list/asset(page=${i}, category=${category}, keyword=${keyword}, sort=${sort}, order=${order})}"></a>
                </li>
                <li class="page-item" th:classappend="${pagination.currentPage == pagination.totalPages} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/assets/list/asset(page=${pagination.currentPage + 1}, category=${category}, keyword=${keyword}, sort=${sort}, order=${order})}" th:text="#{asset.previous.button}">Next</a>
                </li>
            </ul>
        </div>


    </div>
</div> <!-- /container -->
</body>
</html>