<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <script>
        // 전체 선택 또는 선택 해제
        function toggleCheckboxes(source) {
            checkboxes = document.getElementsByName('hardwareIds');
            for(var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
</head>
<body>
    <div class="container" style="max-width: 800px; margin-top: 50px;">
        <div class="py-5 text-center">
            <h2 th:text="#{hardware.list.title}">Hardware List</h2>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary float-end" th:href="@{/assets/add/hardware}">Register Hardware</a>
            </div>
        </div>

        <hr class="my-4">
    <form th:action="@{/assets/deleteSelectedHardware}" method="post">
        <div class="mb-3">
            <button type="submit" class="btn btn-danger">Delete Selected</button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th><input type="checkbox" onclick="toggleCheckboxes(this)"/></th>
                <th>ID</th>
                <th>Asset Name</th>
                <th>Asset Type</th>
                <th>Asset Status</th>
                <th>Location</th>
                <th>Department</th>
                <th>Current User</th>
                <th>CPU</th>
                <th>SSD</th>
                <th>HDD</th>
                <th>Memory</th>
                <th>Usage Period</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hardware : ${hardwares}">
                <td><input type="checkbox" th:value="${hardware.hardwareIdx}" name="hardwareIds"/></td>
                <td th:text="${hardware.hardwareIdx}"></td>
                <td th:text="${hardware.assetName}"></td>
                <td th:text="${hardware.assetType}"></td>
                <td th:text="${hardware.assetStatus}"></td>
                <td th:text="${hardware.location}"></td>
                <td th:text="${hardware.dept}"></td>
                <td th:text="${hardware.currentUser}"></td>
                <td th:text="${hardware.cpu}"></td>
                <td th:text="${hardware.ssd}"></td>
                <td th:text="${hardware.hdd}"></td>
                <td th:text="${hardware.memory}"></td>
                <td>
                    <span th:if="${hardware.usageDuration}">
                        <span th:text="${hardware.usageDuration}">0</span> days
                    </span>
                </td>
                <td th:text="${hardware.note}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div> <!-- /container -->
</body>
</html>
