<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <script>
        function toggleCheckboxes(source) {
            checkboxes = document.getElementsByName('softwareIds');
            for(var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
</head>
<body>
<div class="container" style="max-width: 800px; margin-top: 50px;">
    <div class="py-5 text-center">
        <h2 th:text="#{software.list.title}">Software List</h2>
    </div>
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-primary float-end" onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/assets/add/software}'|" type="button">
                <span th:text="#{software.register}">Register Software</span>
            </button>
        </div>
    </div>

    <form th:action="@{/assets/deleteSelectedSoftware}" method="post">
        <div class="row mb-3">
            <div class="col">
                <button type="submit" class="btn btn-danger">Delete Selected</button>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th><input type="checkbox" onclick="toggleCheckboxes(this)"/></th>
                <th>ID</th>
                <th th:text="#{software.asset.name}">Asset Name</th>
                <th th:text="#{software.asset.type}">Asset Type</th>
                <th th:text="#{software.asset.status}">Asset Status</th>
                <th th:text="#{software.location}">Location</th>
                <th th:text="#{software.department}">Department</th>
                <th th:text="#{software.current.user}">Current User</th>
                <th th:text="#{software.expiry.date}">Expiry Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="software : ${softwares}">
                <td><input type="checkbox" th:value="${software.softwareIdx}" name="softwareIds"/></td>
                <td><a th:href="@{'/assets/' + ${software.softwareIdx} + '/edit/software'}" th:text="${software.softwareIdx}">ID</a></td>
                <td th:text="${software.assetName}"></td>
                <td th:text="${software.assetType}"></td>
                <td th:text="${software.assetStatus}"></td>
                <td th:text="${software.location}"></td>
                <td th:text="${software.dept}"></td>
                <td th:text="${software.currentUser}"></td>
                <td th:text="${software.expiryDate}"></td>
            </tr>
            </tbody>
        </table>
    </form>

    <div>
        <ul class="pagination">
            <li class="page-item" th:classappend="${pagination.currentPage == 1} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/assets/list/software(page=${pagination.currentPage - 1})}">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, pagination.totalPages)}" th:classappend="${i == pagination.currentPage} ? 'active' : ''">
                <a class="page-link" th:text="${i}" th:href="@{/assets/list/software(page=${i})}"></a>
            </li>
            <li class="page-item" th:classappend="${pagination.currentPage == pagination.totalPages} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/assets/list/software(page=${pagination.currentPage + 1})}">Next</a>
            </li>
        </ul>
    </div>


</div> <!-- /container -->
</body>
</html>
