<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- 타입 별칭을 설정합니다. -->
    <typeAliases>
        <typeAlias type="com.example.assetproject.entity.Asset" alias="Asset"/>
        <typeAlias type="com.example.assetproject.entity.Hardware" alias="Hardware"/>
        <typeAlias type="com.example.assetproject.entity.Software" alias="Software"/>
        <typeAlias type="com.example.assetproject.entity.Admin" alias="Admin"/>
        <typeAlias type="com.example.assetproject.dto.HardwareAssetDTO" alias="HardwareAssetDTO"/>
        <typeAlias type="com.example.assetproject.dto.SoftwareAssetDTO" alias="SoftwareAssetDTO"/>
    </typeAliases>

</configuration>
