<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>하드웨어 자산 등록 폼</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
            margin-top: 50px;
        }
        .field-error{
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{hardware.form.title}">하드웨어 자산 등록 폼</h2>
        <h6><span th:text="#{hardware.required}"></span></h6>
    </div>
    <h4 class="mb-3" th:text="#{hardware.asset.input}">자산 입력</h4>
    <form id="assetForm" th:action th:object="${asset}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}"><span th:text="#{hardware.error.global}"></span></p>
        </div>

        <table>
            <tr>
                <td rowspan="6" class="schema"><span th:text="#{hardware.asset}"></span></td>
            </tr>
            <tr class="right">
                <td class="property">*<span th:text="#{hardware.asset.type.select}"></span></td>
                <td colspan="4" class="center-select">
                    <select class="select" id="assetType" name="assetType" th:errorclass="field-error" th:field="*{assetType}">
                        <option value=""><span th:text="#{hardware.asset.type.select}"></span></option>
                        <option value="MONITOR" th:text="#{hardware.asset.type.monitor}">M(모니터)</option>
                        <option value="NOTEBOOK" th:text="#{hardware.asset.type.notebook}">N(노트북)</option>
                        <option value="PHONE" th:text="#{hardware.asset.type.phone}">P(테스트폰)</option>
                    </select>
                    <div class="field-error" th:errors="*{assetType}"></div>
                </td>
                <td class="property">*S/N</td>
                <td colspan="6">
                    <input type="text" class="hw-info" id="sn" name="sn" th:errorclass="field-error" th:field="*{sn}">
                    <div class="field-error" th:errors="*{sn}"></div>
                </td>
            </tr>
            <tr class="right">
                <td class="property">*<span th:text="#{hardware.location.label}"></span></td>
                <td colspan="4">
                    <input type="text" class="hw-info" th:placeholder="#{hardware.location.placeholder}" id="location" name="location" th:errorclass="field-error" th:field="*{location}">
                    <div class="field-error" th:errors="*{location}"></div>
                </td>
                <td class="property">*<span th:text="#{hardware.manufacturer.label}"></span></td>
                <td colspan="6">
                    <input type="text" class="hw-info" id="manufacturer" name="manufacturer" th:errorclass="field-error" th:field="*{manufacturer}">
                    <div class="field-error" th:errors="*{manufacturer}"></div>
                </td>
            </tr>
            <tr class="right">
                <td class="property">*<span th:text="#{hardware.asset.status.label}"></span></td>
                <td colspan="4" class="center-select">
                    <select class="select" id="assetStatus" name="assetStatus" th:errorclass="field-error" th:field="*{assetStatus}">
                        <option value=""><span th:text="#{hardware.asset.status.select}"></span></option>
                        <option value="ASSIGNED" th:text="#{hardware.asset.status.assigned}">입고</option>
                        <option value="RETURNED" th:text="#{hardware.asset.status.returned}">출고</option>
                    </select>
                    <div class="field-error" th:errors="*{assetStatus}"></div>

                </td>
                <td class="property">*<span th:text="#{hardware.asset.name.label}"></span></td>
                <td colspan="6">
                    <input type="text" id="assetName" name="assetName" th:errorclass="field-error" th:field="*{assetName}">
                    <div class="field-error" th:errors="*{assetName}"></div>
                </td>
            </tr>
            <tr class="right">
                <td class="property">CPU</td>
                <td colspan="4">
                    <input type="text" class="hw-info" id="cpu" name="cpu" th:value="*{cpu}">
                </td>
                <td class="property">SSD</td>
                <td colspan="6" class="center-select">
                    <input type="text" class="hw-info" id="ssd" name="ssd" th:value="*{ssd}">
                    <select class="select" id="ssdSelect" name="ssdSelect">
                        <option value="GB">GB</option>
                        <option value="TB">TB</option>
                    </select>
                </td>
            </tr>
            <tr class="right">
                <td class="property">HDD</td>
                <td colspan="4">
                    <input type="text" class="hw-info" id="hdd" name="hdd" th:value="*{hdd}">
                    <select class="select" id="hddSelect" name="hddSelect">
                        <option value="GB">GB</option>
                        <option value="TB">TB</option>
                    </select>
                </td>
                <td class="property">MEMORY</td>
                <td colspan="6" class="right-select">
                    <input type="text" class="hw-info" id="memory" name="memory" th:value="*{memory}">
                    <select class="select memory" id="memorySelect" name="memorySelect">
                        <option value="GB">GB</option>
                    </select>
                </td>
            </tr>
            <tr class="right">
                <td rowspan="3" class="schema"><span th:text="#{hardware.user}"></span></td>
                <td class="property"><span th:text="#{hardware.department.label}"></span></td>
                <td colspan="4" class="center-select">
                    <select class="select" id="dept" name="dept" th:field="*{dept}">
                        <option value= ""><span th:text="#{hardware.select.department}"></span></option>
                        <option value="대표이사" th:text="#{hardware.option.ceo}">대표이사</option>
                        <option value="경영고문" th:text="#{hardware.option.management_consultant}">경영고문</option>
                        <option value="전략운영팀" th:text="#{hardware.option.strategy_operation_team}">전략운영팀</option>
                        <option value="사업팀" th:text="#{hardware.option.business_team}">사업팀</option>
                        <option value="경영전략팀" th:text="#{hardware.option.management_strategy_team}">경영전략팀</option>
                        <option value="UX팀" th:text="#{hardware.option.ux_team}">UX팀</option>
                        <option value="사업1팀" th:text="#{hardware.option.business_team_1}">사업1팀</option>
                        <option value="사업2팀" th:text="#{hardware.option.business_team_2}">사업2팀</option>
                        <option value="아모레운영팀" th:text="#{hardware.option.amore_operation_team}">아모레운영팀</option>
                        <option value="전략채널팀" th:text="#{hardware.option.strategy_channel_team}">전략채널팀</option>
                        <option value="인턴" th:text="#{hardware.option.intern}">인턴</option>
                    </select>
                </td>
                <td class="property">*<span th:text="#{hardware.purchase.date.label}"></span></td>
                <td colspan="6">
                    <input type="date" id="purchaseDate" name="purchaseDate" class="date-box hw-info" max="2100-12-31" min="1900-01-01" th:errorclass="field-error" th:value="*{purchaseDate}">
                    <div class="field-error" th:errors="*{purchaseDate}"></div>
                </td>
            </tr>
            <tr class="right">
                <td class="property"><span th:text="#{hardware.current.user.label}"></span></td>
                <td colspan="4">
                    <input type="text" class="hw-info" id="currentUser" name="currentUser" th:value="*{currentUser}">
                </td>
                <td class="property"><span th:text="#{hardware.assigned.date.label}"></span></td>
                <td colspan="6">
                    <input type="date" id="assignedDate" name="assignedDate" class="date-box hw-info" max="2100-12-31" min="1900-01-01" th:value="*{assignedDate}">
                </td>
            </tr>
            <tr class="right">
                <td class="property"><span th:text="#{hardware.previous.user.label}"></span></td>
                <td colspan="4">
                    <input type="text" class="hw-info" id="previousUser" name="previousUser" th:value="*{previousUser}">
                </td>
                <td class="property"><span th:text="#{hardware.return.date.label}"></span></td>
                <td colspan="6">
                    <input type="date" id="returnDate" name="returnDate" class="date-box hw-info" max="2100-12-31" min="1900-01-01" th:value="*{returnDate}">
                </td>
            </tr>
            <tr class="right bottom">
                <td class="schema"><span th:text="#{hardware.note.label}"></span></td>
                <td colspan="10">
                    <input type="text" id="note" name="note" th:value="*{note}">
                </td>
            </tr>
            <!-- 자산 코드 자동 생성을 위한 hidden 필드 -->
            <input type="hidden" id="assetCode" name="assetCode">
        </table>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="button" onclick="submitForm()" th:text="#{hardware.button.save}">자산 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" type="button" onclick="cancelForm()" th:text="#{hardware.button.cancel}">취소</button>
            </div>
        </div>
    </form>
</div>
<script>
    function cancelForm() {
        // 모든 입력 필드의 값을 초기화
        document.getElementById("assetForm").reset();
    }
    function submitForm() {
        // 자산 코드 생성
        var assetType = document.getElementById('assetType').value;
        var purchaseDate = document.getElementById('purchaseDate').value;
        var sn = document.getElementById('sn').value;

        // 년도에서 뒤의 두 자리만 추출
        var year = purchaseDate.split('-')[0].slice(-2);
        var month = purchaseDate.split('-')[1];

        // 뒤의 두 자리 연도와 달을 합친 후에 자산 코드에 추가
        var assetCode = 'HW-' + year + month + '-' + sn.slice(-4);

        // 자동 생성된 자산 코드를 hidden 필드에 설정
        document.getElementById('assetCode').value = assetCode;

        // 폼 제출
        document.getElementById("assetForm").submit();
    }
</script>
</body>
</html>