<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin">

    <insert id="save" parameterType="Admin" useGeneratedKeys="true" keyProperty="adminIdx">
        INSERT INTO admin (username, password, email, role)
        VALUES (#{username}, #{password}, #{email}, #{role})
    </insert>

    <select id="existsByUsername" resultType="int">
        SELECT COUNT(*) FROM Admin
        WHERE username = #{username}
    </select>

    <select id="findByUsername" resultType="Admin">
        SELECT * FROM Admin
        WHERE username = #{username}
    </select>

    <select id="existsByEmail" resultType="int">
        SELECT COUNT(*) FROM admin
        WHERE email = #{email}
    </select>


</mapper>
