<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Asset">

<!--    <select id="findAll" resultType="Asset">-->
<!--        SELECT * FROM asset-->
<!--    </select>-->

    <select id="findById" parameterType="Long" resultType="Asset">
        select * from asset where assetIdx= #{id}
    </select>

    <insert id="saveHardwareAsset" parameterType="Asset" useGeneratedKeys="true" keyProperty="assetIdx">
        INSERT INTO asset
        (assetCode, assetName, assetType, assetStatus, sn, location, dept,
         purchaseDate, assignedDate, returnDate, currentUser, previousUser,
         manufacturer)
        VALUES
            (#{assetCode}, #{assetName}, #{assetType}, #{assetStatus}, #{sn}, #{location}, #{dept},
             #{purchaseDate}, #{assignedDate}, #{returnDate}, #{currentUser}, #{previousUser},
             #{manufacturer})
    </insert>

    <insert id="saveSoftwareAsset" parameterType="Asset" useGeneratedKeys="true" keyProperty="assetIdx">
        INSERT INTO asset
        (assetCode, assetName, sn, purchaseDate, assetStatus, location, dept, manufacturer, currentUser, assignedDate, previousUser, returnDate, expiryDate)
        VALUES
            (#{assetCode}, #{assetName}, #{sn}, #{purchaseDate}, #{assetStatus}, #{location}, #{dept}, #{manufacturer}, #{currentUser}, #{assignedDate}, #{previousUser}, #{returnDate}, #{expiryDate})
    </insert>

    <update id="update" parameterType="Asset">
        UPDATE asset
        SET
            assetCode = #{assetCode},
            assetName = #{assetName},
            assetType = #{assetType},
            assetStatus = #{assetStatus},
            sn = #{sn},
            location = #{location},
            dept = #{dept},
            purchaseDate = #{purchaseDate},
            assignedDate = #{assignedDate},
            returnDate = #{returnDate},
            currentUser = #{currentUser},
            previousUser = #{previousUser},
            manufacturer = #{manufacturer}
        WHERE assetIdx = #{assetIdx}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM asset WHERE assetIdx = #{assetIdx}
    </delete>

    <select id="findAssetCodeById" parameterType="Long" resultType="String">
        select assetCode from asset where assetIdx= #{assetIdx}
    </select>

    <select id="findAll" resultType="Asset">
        SELECT * FROM asset
        ORDER BY assetIdx ASC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="findAllWithPaging" parameterType="map" resultType="Hardware">
        SELECT * FROM asset
        ORDER BY assetIdx ASC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countAll" resultType="Integer">
        SELECT
            COUNT(assetIdx)
        FROM asset
    </select>

</mapper>
