<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Hardware">

<!--    <select id="findAll" resultType="Hardware">-->
<!--        SELECT-->
<!--            hw.hardwareIdx,-->
<!--            hw.cpu,-->
<!--            hw.ssd,-->
<!--            hw.hdd,-->
<!--            hw.memory,-->
<!--            hw.note,-->
<!--            a.assetName,-->
<!--            a.assetType,-->
<!--            a.assetStatus,-->
<!--            a.purchaseDate,-->
<!--            a.location,-->
<!--            a.dept,-->
<!--            a.currentUser-->
<!--        FROM hardware hw-->
<!--                 JOIN asset a ON hw.assetIdx = a.assetIdx-->
<!--        </select>-->

    <select id="findById" parameterType="Long" resultType="Hardware">
        select * from hardware where hardwareIdx= #{hardwareIdx}
    </select>

    <select id="findHardwareById" parameterType="Long" resultType="HardwareAssetDTO">
        SELECT
            a.assetIdx,
            a.assetCode,
            a.assetName,
            a.assetType,
            a.assetStatus,
            a.sn,
            a.location,
            a.dept,
            a.purchaseDate,
            a.assignedDate,
            a.returnDate,
            a.currentUser,
            a.previousUser,
            a.manufacturer,
            h.hardwareIdx,
            h.cpu,
            h.ssd,
            h.hdd,
            h.memory,
            h.usageDuration,
            h.note
        FROM hardware h
                 JOIN asset a ON h.assetIdx = a.assetIdx
        WHERE h.hardwareIdx = #{hardwareIdx}
    </select>

    <insert id="save" parameterType="Hardware" useGeneratedKeys="true" keyProperty="hardwareIdx">
        INSERT INTO hardware
            (assetIdx, cpu, ssd, hdd, memory, note)
        VALUES
            (#{assetIdx}, #{cpu}, #{ssd}, #{hdd}, #{memory}, #{note})
    </insert>

    <update id="update" parameterType="Hardware">
        UPDATE hardware
        SET
            cpu = #{cpu},
            ssd = #{ssd},
            hdd = #{hdd},
            memory = #{memory},
            note = #{note}
        WHERE hardwareIdx = #{hardwareIdx}
    </update>

    <delete id="deleteHardware" parameterType="long">
        DELETE FROM hardware WHERE hardwareIdx = #{hardwareIdx}
    </delete>

    <select id="findAssetIdxByHardwareIdx" parameterType="Long" resultType="Long">
        select assetIdx from hardware where hardwareIdx= #{hardwareIdx}
    </select>

    <select id="findHardwareIdxByAssetIdx" parameterType="Long" resultType="Long">
        select hardwareIdx from hardware where assetIdx= #{assetIdx}
    </select>

<!--    <select id="findAllWithPaging" parameterType="map" resultType="Hardware">-->
<!--        SELECT-->
<!--            hw.hardwareIdx,-->
<!--            hw.cpu,-->
<!--            hw.ssd,-->
<!--            hw.hdd,-->
<!--            hw.memory,-->
<!--            hw.note,-->
<!--            a.assetName,-->
<!--            a.assetType,-->
<!--            a.assetStatus,-->
<!--            a.purchaseDate,-->
<!--            a.location,-->
<!--            a.dept,-->
<!--            a.currentUser-->
<!--        FROM hardware hw-->
<!--                 JOIN asset a ON hw.assetIdx = a.assetIdx-->
<!--        ORDER BY hw.hardwareIdx ASC-->
<!--            LIMIT #{pageSize} OFFSET #{offset}-->
<!--    </select>-->

<!--    <select id="countAll" resultType="Integer">-->
<!--        SELECT-->
<!--            COUNT(hardwareIdx)-->
<!--        FROM hardware-->
<!--    </select>-->

    <select id="findAllWithPagingAndFilter" parameterType="map" resultType="Hardware">
        SELECT
        hw.hardwareIdx,
        hw.cpu,
        hw.ssd,
        hw.hdd,
        hw.memory,
        hw.note,
        a.assetName,
        a.assetType,
        a.assetStatus,
        a.purchaseDate,
        a.location,
        a.dept,
        a.currentUser
        FROM hardware hw
        JOIN asset a ON hw.assetIdx = a.assetIdx
        <where>
            <if test="category != null and category != '' and keyword != null">
                <choose>
                    <when test="category == 'assetName'">
                        AND a.assetName LIKE #{keyword}
                    </when>
                    <when test="category == 'assetType'">
                        AND a.assetType LIKE #{keyword}
                    </when>
                    <when test="category == 'assetStatus'">
                        AND a.assetStatus LIKE #{keyword}
                    </when>
                    <!-- 여기에 다른 카테고리 조건을 추가할 수 있습니다. -->
                    <when test="category == 'purchaseDate'">
                        AND a.purchaseDate LIKE #{keyword}
                    </when>
                    <when test="category == 'location'">
                        AND a.location LIKE #{keyword}
                    </when>
                    <when test="category == 'dept'">
                        AND a.dept LIKE #{keyword}
                    </when>
                    <when test="category == 'currentUser'">
                        AND a.currentUser LIKE #{keyword}
                    </when>
                    <when test="category == 'cpu'">
                        AND hw.cpu LIKE #{keyword}
                    </when>
                    <when test="category == 'ssd'">
                        AND hw.ssd LIKE #{keyword}
                    </when>
                    <when test="category == 'hdd'">
                        AND hw.hdd LIKE #{keyword}
                    </when>
                    <when test="category == 'memory'">
                        AND hw.memory LIKE #{keyword}
                    </when>
                    <when test="category == 'note'">
                        AND hw.note LIKE #{keyword}
                    </when>
                </choose>
            </if>
        </where>
        <choose>
            <when test="sort == 'assetName'">
                ORDER BY a.assetName ${order}
            </when>
            <when test="sort == 'assetStatus'">
                ORDER BY a.assetStatus ${order}
            </when>
            <when test="sort == 'assetType'">
                ORDER BY a.assetType ${order}
            </when>
            <when test="sort == 'purchaseDate'">
                ORDER BY a.purchaseDate ${order}
            </when>
            <when test="sort == 'location'">
                ORDER BY a.location ${order}
            </when>
            <when test="sort == 'dept'">
                ORDER BY a.dept ${order}
            </when>
            <when test="sort == 'currentUser'">
                ORDER BY a.currentUser ${order}
            </when>
            <when test="sort == 'cpu'">
                ORDER BY hw.cpu ${order}
            </when>
            <when test="sort == 'ssd'">
                ORDER BY hw.ssd ${order}
            </when>
            <when test="sort == 'hdd'">
                ORDER BY hw.hdd ${order}
            </when>
            <when test="sort == 'memory'">
                ORDER BY hw.memory ${order}
            </when>
            <when test="sort == 'note'">
                ORDER BY hw.note ${order}
            </when>
            <!-- 이하 정렬 조건들 생략 -->
            <otherwise>
                ORDER BY hw.hardwareIdx ASC
            </otherwise>
        </choose>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countAllFiltered" parameterType="map" resultType="Integer">
    SELECT
    COUNT(hw.hardwareIdx)
    FROM hardware hw
    JOIN asset a ON hw.assetIdx = a.assetIdx
    <where>
    <if test="category != null and category != '' and keyword != null">
        <choose>
            <when test="category == 'assetName'">
                AND a.assetName LIKE #{keyword}
            </when>
            <when test="category == 'assetType'">
                AND a.assetType LIKE #{keyword}
            </when>
            <when test="category == 'assetStatus'">
                AND a.assetStatus LIKE #{keyword}
            </when>
            <!-- 여기에 다른 카테고리 조건을 추가할 수 있습니다. -->
            <when test="category == 'purchaseDate'">
                AND a.purchaseDate LIKE #{keyword}
            </when>
            <when test="category == 'location'">
                AND a.location LIKE #{keyword}
            </when>
            <when test="category == 'dept'">
                AND a.dept LIKE #{keyword}
            </when>
            <when test="category == 'currentUser'">
                AND a.currentUser LIKE #{keyword}
            </when>
            <when test="category == 'cpu'">
                AND hw.cpu LIKE #{keyword}
            </when>
            <when test="category == 'ssd'">
                AND hw.ssd LIKE #{keyword}
            </when>
            <when test="category == 'hdd'">
                AND hw.hdd LIKE #{keyword}
            </when>
            <when test="category == 'memory'">
                AND hw.memory LIKE #{keyword}
            </when>
            <when test="category == 'note'">
                AND hw.note LIKE #{keyword}
            </when>

        </choose>
    </if>
    </where>
    </select>

</mapper>
