<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Software">

    <select id="findAll" resultType="Software">
        SELECT
            s.softwareIdx,
            a.assetName,
            a.assetType,
            a.assetStatus,
            a.location,
            a.dept,
            a.currentUser,
            s.expiryDate
        FROM software s
                 JOIN asset a ON s.assetIdx = a.assetIdx
    </select>

    <select id="findById" parameterType="Long" resultType="Software">
        select * from software where softwareIdx= #{softwareIdx}
    </select>

    <select id="findSoftwareById" parameterType="Long" resultType="SoftwareAssetDTO">
        SELECT
            a.assetIdx,
            a.assetCode,
            a.assetName,
            a.assetType,
            a.assetStatus,
            a.sn,
            a.location,
            a.dept,
            a.purchaseDate,
            a.assignedDate,
            a.returnDate,
            a.currentUser,
            a.previousUser,
            a.manufacturer,
            s.softwareIdx,
            s.expiryDate,
            s.note
        FROM software s
                 JOIN asset a ON s.assetIdx = a.assetIdx
        WHERE s.softwareIdx = #{softwareIdx}
    </select>

    <update id="update" parameterType="Software">
        UPDATE software
        SET
            expiryDate = #{expiryDate},
            note = #{note}
        WHERE softwareIdx = #{softwareIdx}
    </update>

    <insert id="save" parameterType="Software" useGeneratedKeys="true" keyProperty="softwareIdx">
        INSERT INTO software
            (assetIdx, expiryDate, note)
        VALUES
            (#{assetIdx}, #{expiryDate}, #{note})
    </insert>

    <delete id="deleteSoftware" parameterType="long">
        DELETE FROM software WHERE softwareIdx = #{softwareIdx}
    </delete>

    <select id="findAssetIdxBySoftwareIdx" parameterType="long" resultType="long">
        SELECT assetIdx FROM software WHERE softwareIdx = #{softwareIdx}
    </select>

    <select id="findSoftwareIdxByAssetIdx" parameterType="long" resultType="long">
        SELECT softwareIdx FROM software WHERE assetIdx = #{assetIdx}
    </select>

</mapper>
