<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Software">

    <select id="findAll" resultType="Software">
        SELECT
            s.softwareIdx,
            a.assetName,
            a.assetType,
            a.assetStatus,
            a.location,
            a.dept,
            a.currentUser,
            s.expiryDate
        FROM software s
                 JOIN asset a ON s.assetIdx = a.assetIdx
    </select>

    <select id="findById" parameterType="Long" resultType="Software">
        select * from software where softwareIdx= #{softwareIdx}
    </select>

    <select id="findSoftwareById" parameterType="Long" resultType="SoftwareAssetDTO">
        SELECT
            a.assetIdx,
            a.assetCode,
            a.assetName,
            a.assetType,
            a.assetStatus,
            a.sn,
            a.location,
            a.dept,
            a.purchaseDate,
            a.assignedDate,
            a.returnDate,
            a.currentUser,
            a.previousUser,
            a.manufacturer,
            s.softwareIdx,
            s.expiryDate,
            s.note
        FROM software s
                 JOIN asset a ON s.assetIdx = a.assetIdx
        WHERE s.softwareIdx = #{softwareIdx}
    </select>

    <update id="update" parameterType="Software">
        UPDATE software
        SET
            expiryDate = #{expiryDate},
            note = #{note}
        WHERE softwareIdx = #{softwareIdx}
    </update>

    <insert id="save" parameterType="Software" useGeneratedKeys="true" keyProperty="softwareIdx">
        INSERT INTO software
            (assetIdx, expiryDate, note)
        VALUES
            (#{assetIdx}, #{expiryDate}, #{note})
    </insert>

    <delete id="deleteSoftware" parameterType="long">
        DELETE FROM software WHERE softwareIdx = #{softwareIdx}
    </delete>

    <select id="findAssetIdxBySoftwareIdx" parameterType="long" resultType="long">
        SELECT assetIdx FROM software WHERE softwareIdx = #{softwareIdx}
    </select>

    <select id="findAssetCodeBySoftwareIdx" parameterType="long" resultType="String">
        SELECT a.assetCode FROM software s
        JOIN asset a ON s.assetIdx = a.assetIdx
        WHERE softwareIdx = #{softwareIdx}
    </select>

    <select id="findSoftwareIdxByAssetIdx" parameterType="long" resultType="long">
        SELECT softwareIdx FROM software WHERE assetIdx = #{assetIdx}
    </select>


<!--    <select id="findAllWithPaging" parameterType="map" resultType="Software">-->
<!--        SELECT-->
<!--            s.softwareIdx,-->
<!--            a.assetName,-->
<!--            a.assetType,-->
<!--            a.assetStatus,-->
<!--            a.location,-->
<!--            a.dept,-->
<!--            a.currentUser,-->
<!--            s.expiryDate-->
<!--        FROM software s-->
<!--                 JOIN asset a ON s.assetIdx = a.assetIdx-->
<!--        ORDER BY s.softwareIdx ASC-->
<!--            LIMIT #{pageSize} OFFSET #{offset}-->
<!--    </select>-->

<!--    <select id="countAll" resultType="Integer">-->
<!--        SELECT-->
<!--            COUNT(softwareIdx)-->
<!--        FROM software-->
<!--    </select>-->

    <select id="findAllWithPagingAndFilter" parameterType="map" resultType="Software">
        SELECT
        a.assetName,
        a.assetType,
        a.assetStatus,
        a.location,
        a.dept,
        a.currentUser,
        sw.softwareIdx,
        sw.expiryDate
        FROM software sw
        JOIN asset a ON sw.assetIdx = a.assetIdx
        <where>
            <if test="category != null and category != '' and keyword != null">
                <choose>
                    <when test="category == 'assetName'">
                        AND a.assetName LIKE #{keyword}
                    </when>
                    <when test="category == 'assetType'">
                        AND a.assetType LIKE #{keyword}
                    </when>
                    <when test="category == 'assetStatus'">
                        AND a.assetStatus LIKE #{keyword}
                    </when>
                    <when test="category == 'location'">
                        AND a.location LIKE #{keyword}
                    </when>
                    <when test="category == 'dept'">
                        AND a.dept LIKE #{keyword}
                    </when>
                    <when test="category == 'currentUser'">
                        AND a.currentUser LIKE #{keyword}
                    </when>
                    <when test="category == 'expiryDate'">
                        AND sw.expiryDate LIKE #{keyword}
                    </when>
                </choose>
            </if>
        </where>
        <choose>
            <when test="sort == 'assetName'">
                ORDER BY a.assetName ${order}
            </when>
            <when test="sort == 'assetType'">
                ORDER BY a.assetType ${order}
            </when>
            <when test="sort == 'assetStatus'">
                ORDER BY a.assetStatus ${order}
            </when>
            <when test="sort == 'location'">
                ORDER BY a.location ${order}
            </when>
            <when test="sort == 'dept'">
                ORDER BY a.dept ${order}
            </when>
            <when test="sort == 'currentUser'">
                ORDER BY a.currentUser ${order}
            </when>
            <when test="sort == 'expiryDate'">
                ORDER BY sw.expiryDate ${order}
            </when>
            <!-- 이하 정렬 조건들 생략 -->
            <otherwise>
                ORDER BY sw.softwareIdx ASC
            </otherwise>
        </choose>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countAllFiltered" parameterType="map" resultType="Integer">
        SELECT
        COUNT(sw.softwareIdx)
        FROM software sw
        JOIN asset a ON sw.assetIdx = a.assetIdx
        <where>
            <if test="category != null and category != '' and keyword != null">
                <choose>
                    <when test="category == 'assetName'">
                        AND a.assetName LIKE #{keyword}
                    </when>
                    <when test="category == 'assetType'">
                        AND a.assetType LIKE #{keyword}
                    </when>
                    <when test="category == 'assetStatus'">
                        AND a.assetStatus LIKE #{keyword}
                    </when>
                    <when test="category == 'location'">
                        AND a.location LIKE #{keyword}
                    </when>
                    <when test="category == 'dept'">
                        AND a.dept LIKE #{keyword}
                    </when>
                    <when test="category == 'currentUser'">
                        AND a.currentUser LIKE #{keyword}
                    </when>
                    <when test="category == 'expiryDate'">
                        AND sw.expiryDate LIKE #{keyword}
                    </when>
                </choose>
            </if>
        </where>
    </select>

</mapper>
